body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #080724;
  color: white;
}

h1 {
  text-align: center;
  font-size: 200%;
  padding-top: 10px;
  opacity: 0.8;
  font-weight: 500;
}

.contain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.contain .flashcard {
  position: absolute;
  width: clamp(100px, 75%, 500px);
  aspect-ratio: 8/5;
  font-size: min(10vw, 55px);
  user-select: none;
  cursor: pointer;
  transition: filter 0.5s;
}
.contain .flashcard:nth-child(1) {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% + clamp(0px, 10vw, 100px)), -50%);
}
.contain .flashcard:nth-child(3) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% - clamp(0px, 10vw, 100px)), -50%);
}
.contain .flashcard:nth-child(2), .contain .flashcard.only {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contain .flashcard:nth-child(n+4) {
  display: none;
}
.contain .flashcard .position {
  width: 100%;
  height: 100%;
}
.contain .flashcard .position.left {
  animation: left 0.5s ease;
}
.contain .flashcard .position.right {
  animation: right 0.5s ease;
}
@keyframes left {
  from {
    transform: translateX(-100%);
  }
}
@keyframes right {
  from {
    transform: translateX(100%);
  }
}
.contain .flashcard:not(:nth-child(2), .only) {
  filter: brightness(50%);
}
.contain .flashcard[flip] .side.top, .contain .flashcard:not([flip]) .side.bottom {
  visibility: hidden;
}
.contain .flashcard.flipping .position {
  perspective: 500px;
}
.contain .flashcard.flipping[flip] .side.top {
  animation: flip-a 0.4s ease-in;
  visibility: hidden;
}
.contain .flashcard.flipping[flip] .side.bottom {
  animation: flip-b 0.4s ease-out;
}
.contain .flashcard.flipping:not([flip]) .side.top {
  animation: flip-b 0.4s ease-out;
}
.contain .flashcard.flipping:not([flip]) .side.bottom {
  animation: flip-a 0.4s ease-in;
  visibility: hidden;
}
@keyframes flip-a {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
    transform: rotateX(-90deg);
  }
}
@keyframes flip-b {
  0%, 50% {
    visibility: hidden;
    transform: rotateX(90deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
.contain .flashcard .side {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: min(5vh, 5vw);
  background-color: #252D45;
}
.contain .flashcard .side h1 {
  margin: 5% 0;
  font-size: 100%;
  font-weight: 500;
  text-align: center;
}
.contain .flashcard .side h2 {
  margin: 0;
  font-size: 60%;
  font-weight: 500;
}